
h1{
    color: red;
    width: 970px;
    margin: auto;
    border: 1px;
}
button{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}
body{
    background-color: rgb(12, 181, 211);
}