<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'LOGPRO/log.css' %}">
</head>
<body>
    <div class="row">
        <h1>welcome my page</h1>
        <div class="column">
          <img src="{% static 'LOGPRO/img_snow.jpg' %}" alt="Snow" style="width:100%">
        </div>
        <div class="column">
          <img src="{% static 'LOGPRO/img_forest.jpg' %}" alt="Forest" style="width:100%">
        </div>
        <div class="column">
          <img src="{% static 'LOGPRO/img_mountains.jpg' %}" alt="Mountains" style="width:100%">
        </div>
        <div class="column">
            <img src="{% static 'LOGPRO/1.jpg' %}" alt="Forest" style="width:100%">
          </div>
          <div class="column">
            <img src="{% static 'LOGPRO/2.jpg' %}" alt="Forest" style="width:100%">
          </div>
          <div class="column">
            <img src="{% static 'LOGPRO/3.jpg' %}" alt="Forest" style="width:100%">
          </div>
          <div class="column">
            <img src="{% static 'LOGPRO/4.jpg' %}" alt="Forest" style="width:100%">
          </div>
          <div class="column">
            <img src="{% static 'LOGPRO/5.jpg' %}" alt="Forest" style="width:100%">
        </div>
          <div class="column">
            <img src="{% static 'LOGPRO/6.jpg' %}" alt="Forest" style="width:100%">
            </div>
            <div class="column">
            <img src="{% static 'LOGPRO/7.jpg' %}" alt="Forest" style="width:100%">
            </div>
            <div class="column">
            <img src="{% static 'LOGPRO/8.jpg' %}" alt="Forest" style="width:100%">
            </div>
            <div class="column">
            <img src="{% static 'LOGPRO/9.jpg' %}" alt="Forest" style="width:100%">
            </div>
            <div class="column">
            <img src="{% static 'LOGPRO/10.jpg' %}" alt="Forest" style="width:100%">
            </div>
            <div class="column">
            <img src="{% static 'LOGPRO/11.jpg' %}" alt="Forest" style="width:100%">
            </div>
        </div>
      </div>
    
</body>
</html>